* {
    font-family: 'Poppins', Arial;
}

.container-box-shadow {
    /* create subtle elevated shadow around card*/
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.buttons, .buttonss {
    background-color: #BB445E !important; 
    color: white;
}

.buttons:hover, .buttonss:hover {
    background-color: #894d5a !important; 
    color: white;
    cursor: pointer;
}

#logo-navbar-1{
    width: 3.25rem;
}

#logo-navbar-2{
    width: 2rem;
}

#logo-1{
    display: block;
}

#logo-2{
    display: none;
}

#profilebtn, #profilebtn:hover,
#unggahbtn, #unggahbtn:hover,
#burgericon, #burgericon:hover{
    background-color: transparent;
}

.label {
	border-radius: 50px;
	cursor: pointer;
	padding: 5px;
	height: 24px;
	width: 50px;
}

.label .ball {
	border-radius: 50%;
    height: 20px;
    width: 20px;
    top: -1.5px;
    left: 3px;
	transition: transform 0.2s linear;
}

.bola-eng, .bola-indo {
    width: inherit;
    height: inherit;
    border-radius: 100%;
    /* margin-top: -5px; */
    border: 1px solid black;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

#img-profile{
    width: 1.875rem;
    height: 1.875rem;
}

#burger-menu li {
    position: relative;
}

#burger-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -8px;
}

#burger-menu .dropdown-submenu-right {
    display: none;
    position: absolute;
    right: 100%;
    top: -8px;
}

#burger-menu > li:hover > .dropdown-submenu,
#burger-menu > li:hover > .dropdown-submenu-right {
    display: block;
}

.hover:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #logo-1{
        display: none;
    }

    #logo-2{
        display: block;
    }
}

@media only screen and (max-width: 1080px) {
    #burger{
        display: block !important;
    }

    #fitur{
        display: none !important;
    }

    #logo-navbar-2{
        width: 2.5rem;
    }

    #masihBelum{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #switch, #bell-a, #upload{
        display: none !important;
    }

    #masihBelum{
        display: block;
    }

    #caption{
        display: none;
    }

    #height-navbar{
        margin-top: 4.1rem;
    }
}

@media only screen and (max-width: 576px) {
    #logo-2{
        display: none;
    }

    #navbar-row{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    #img-profile{
        width: 1.5rem;
        height: 1.5rem;
    }

    .display-1{
        font-size: 2rem;
    }
}

#navbar{
    transition: 0.2s;
    /* background-color: #BB445E; */
}

.wedding-cover {
    /* make mask that darken the image */
    position: relative;
    background-color: rgba(0,0,0,0.5);


}

.wedding-text {
    width: 80%;
    color: white;
    /* make its neon glow white*/
    text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 80px #fff,
                0 0 90px #fff,
                0 0 100px #fff,
                0 0 150px #fff;

}


.modern-font {
    font-family: 'Josefin Sans', sans-serif;
}



/* product */

a,
a:hover {
    text-decoration: none;
    color: inherit;
}


.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}



.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}
.section-products .single-product .part-1 .discount {
    top: 40px;
    left: 0px;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.bgc-plum {
    background-color: #BB342F;
}

.bgc-periwinkle {
    background-color: #372248;
}

.bgc-plum:hover {
    cursor: not-allowed;
}
.bgc-periwinkle:hover {
    cursor: not-allowed;
}